.player-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-top: 0;
}

.player-actions div {
  margin-top: 0;
  text-align: center;
  /* font-size: 1.2rem; */
  border-radius: 1em;
  color: rgb(109, 109, 208);
  padding: 0.4em 0.8em;
  /* width: 80%; */
  border: 2px solid rgb(109, 109, 208);
  background-color: white;
  letter-spacing: 0.06em;
}

.player-actions div:hover {
  background-color: rgb(109, 109, 208);
  color: white;
  cursor: pointer;
}

#clicked {
  background-color: rgb(109, 109, 208);
  color: white;
}
