.top-left-flex-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 73%;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 525px;
  position: relative;
}

.player {
  left: 25px;
  top: 25px;
  position: absolute;
}

.player > img {
  width: 45px;
}

@media only screen and (min-width: 880px) {
  .player > img {
    width: 55px;
  }
}

.image-container {
  margin-top: 0;
  width: calc(100% - 14px);
}

.image-container img {
  display: block;
  /* object-fit: cover; */
  width: 100%;
  /* border: 5px solid purple; */
  border-left: 7px solid rgb(255, 223, 175);
  border-top: 7px solid rgb(255, 223, 175);
  border-right: 7px solid rgb(255, 223, 175);
}

.text-box {
  box-sizing: border-box;
  color: rgb(60, 60, 60);
  margin-top: 0;
  border-top: 7px solid rgb(255, 223, 175);
  border-left: 7px solid rgb(255, 223, 175);
  border-right: 7px solid rgb(255, 223, 175);
  background-color: rgb(255, 223, 175);
  flex-grow: 1;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  padding: 1em 1.3em;
  overflow: scroll;
}

area {
  outline: solid 1px rgb(222, 222, 120);
}
