.top-left-flex-container {
  display: flex;
  flex-direction: column;
  width: 72%;
  border: solid 1px gold;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 435px;
}

.image-container {
  width: 100%;
  border: 1px solid blue;
}

.image-container img {
  width: 100%;
  border: 1px solid tan;
}

.text-box {
  margin-top: 0;
  border: 1px solid purple;
  background-color: rgb(241, 234, 252);
  height: 20%;
  flex-grow: 1;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  padding: 1em 1.3em;
  overflow: scroll;
}

area {
  outline: solid 1px green;
}
