.top-left-flex-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 73%;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 525px;
  position: relative;
  overflow: hidden;
  /* border-radius: 0.4em; */
}

.player {
  left: 20px;
  top: 20px;
  position: absolute;
}

.player > img {
  width: 40px;
}

.image-container {
  margin-top: 0;
  width: 100%;
}

.image-container img {
  display: block;
  /* object-fit: cover; */
  width: 100%;
  border: 5px solid purple;
}

.text-box {
  margin-top: 0;
  /* border-top: 2px solid purple; */
  background-color: rgb(241, 234, 252);
  flex-grow: 1;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  padding: 1em 1.3em;
  overflow: scroll;
}

area {
  outline: solid 1px green;
}
