:root {
  box-sizing: border-box;
  font-size: 1.2em;
}

body {
  margin: 2em;
}

* + * {
  margin-top: 1em;
}

.container {
  height: 75vh;
  border: 1px solid red;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.top-flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  height: 60%;
}

.bottom-flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
  height: 40%;
}
