:root {
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  margin: 2em;
  background-color: #fefefe;
}

* + * {
  margin-top: 1em;
}

.container {
  height: 80vh;
  border-radius: 1em;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  min-width: 586px;
  max-width: 796px;
  min-height: 780px;
}

/* login styling */
.title {
  font-size: 2.2rem;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(186, 246, 227);
  letter-spacing: 0.1em;
  line-height: 1.65em;
  padding: 0.67em;
  background-color: rgb(149, 149, 149);
  animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    color: white;
  }
}

.title-page-flex {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 1em;
  overflow: hidden;
  margin-bottom: 0.1em;
}

.current-games-flex {
  width: 48.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: rgb(255, 226, 237);
}

.current-games-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  width: 100%;
  flex-grow: 1;
  padding-top: 0.5em;
  background-color: rgb(255, 200, 220);
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  height: 80%;
  width: 100%;
  margin-top: 0;
}

.user-game-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1em;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.85rem 1.2rem 1.2rem 1.2rem;
  cursor: pointer;
  transition: all;
  padding: 1em;
}

.user-game-flex:hover {
  box-shadow: 0px 0px 10px 1px #888888;
  transform: scale(1.07);
}

* + .user-game-flex {
  margin-top: 0;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-color: black;
}

.icon > img {
  width: 67px;
}

.name-and-date {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 1em;
  letter-spacing: 0.06em;
}

.date {
  font-size: 1rem;
  color: gray;
  margin-top: 0.5em;
  letter-spacing: 0.06em;
}

.login-flex {
  margin: 0;
  width: 48.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 206, 237);
}

.login-flex * + * {
  margin-top: 1.62em;
}

.login-heading {
  margin-top: 2.5rem;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  line-height: 1.35em;
  width: 80%;
}

.login-form input {
  font-size: 1.1rem;
  width: 65%;
  padding: 0.4em 0.6em;
  border-radius: 1em;
  border: 2px solid rgb(118, 118, 118);
  letter-spacing: 0.09em;
}

.submit-button {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 1em;
  color: white;
  padding: 0.4em;
  width: 75%;
  border: 2px solid rgb(109, 109, 208);
  background-color: rgb(109, 109, 208);
  letter-spacing: 0.06em;
}

.submit-button:hover {
  background-color: white;
  color: rgb(109, 109, 208);
  cursor: pointer;
}

.footer {
  color: rgb(133, 133, 217);
  width: 80%;
  margin-top: auto;
  margin-bottom: 2.5rem;
  letter-spacing: 0.06em;
  line-height: 1.3em;
}

@media only screen and (min-width: 875px) {
  .login-flex * + * {
    margin-top: 2em;
  }
}
@media only screen and (min-height: 1060px) {
  .footer {
    margin-top: 3.3em;
  }
  .input-one {
    margin-top: 0.65rem;
  }
}

/* game styling */
.top-flex {
  display: flex;
  justify-content: space-between;
  height: 70%;
  margin-top: 0.2em; /*pushes down top and bottom flex boxes, makes up for flex-start*/
}

.bottom-flex {
  display: flex;
  justify-content: space-between;
  height: 25%;
  background-color: rgb(246, 246, 246);
  margin-top: 1.3em;
}
